*{
    margin: 0;
    padding: 0;
    font-size: 400;
}

html{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(24, 82, 80),gray);
}

body{
    font-family: sans-serif;
}

.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.teclado{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
    align-content:flex-end ;   
    width: 25%;
    min-height: 450px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0,10);
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
}

input{   
    cursor: pointer;
    width: 24%;
    height: 70px;
    margin: auto;
    color: cornsilk;    
    margin: 0;
    border: 0;
    outline: 0;
    justify-content:center;    
    background-color: rgb(138, 138, 138);
}

.operador{
    background-color: orange;
    border: none;
    outline: none;
}

.result{
    border: none;
    outline: none;
    background-color: orange;
    width: 97.5%;
    border-radius: 0px 0px 5px 5px;
    height: 15vh;
}

.display{    
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    border-radius: 10px 10px 0 0;
    width: 100%;
    background-color: rgb(70, 70, 70);
    border: none;
    outline: none;
    cursor:text;
    border: none;
    outline: none;
    
}

@media(max-width: 1140px){
    .teclado{        
        width: 40%;
        align-items: center;
    }
    
    input{
        width: 23%;
    }
    
    .result{        
        width: 93%;      
    }
}